html, body {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	font-family: Tahoma;
	font-size: 12px;
}

#title {
	width: 100%;
	height: 25px;
	padding-top: 10px;
	background-color: #E8EEEE;
	font-family: Tahoma;
	font-size: 12px;
	color: #2E3D76;
}

.naslov {
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	color: #333399;
	font-weight: bold;
	font-size: 12px;

}

#lijevo {
	width: 200px;
	background-color: #E8EEEE;
	font-family: Tahoma;
	font-size: 11px;
	color: #2E3D76;
	vertical-align: top;
	text-align: center;
}

#desno {
	height: 100%;
}

#toolbox {
	padding: 10px;
	background-color: #E8EEEE;
	font-family: Tahoma;
	font-size: 11px;
	color: #2E3D76;
}

#canvas {
	width: 100%;
	height: 100%;
}

#stanje-toolbox {
	display: none;
}

a:link, a:active, a:visited {
	display: block;
	text-align: center;
	background-color: #5987FF;
	margin: 10px;
	padding: 5px;
	border-radius: 10px;
	text-decoration: none;
	font-weight: bold;
	color: white;
	border: 1px solid #95B3FF;
}

a:hover {
	background-color: #1E5BC1;
	color: white;
	border: 1px solid #236FED;
}

#kod {
	border-top: 5px solid #376A95;
	padding: 20px;
	background-color: #4E4F50;
	color: #C8F3FB;
}

#oznaceno_stanje {
	background-color: #BF1E1E;
	color: white;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 5px;
}